:root {
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --header-height: 80px;
    --primary-color: #3fd0d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'poppins', sans-serif;
    line-height: 1.4;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}   

@keyframes zoom {
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.1);
    }
}


@keyframes textSliderUp {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.row-slide-review {
    margin-left: -20px;
    margin-right: -20px;
}

.col-slide-reivew {
    padding-left: 20px;
    padding-right: 20px;
}


.control-label {
    padding: 0px 7px; 
    border-radius: 50%;
    background-color: #9fe7e9;
    margin-left: 12px;
    cursor: pointer;
}

.control-label--active {
    background-color: var(--primary-color);
}

